body {
    margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
    border: none;
    background: transparent;
    
}
.user-card {
    text-align: center;
    width: 400px; 
    margin:  0 auto;
    font-weight: 600;
    font-size: 16px;
}
.photo {
    width: 200px;
    height: 200px;
    margin:0 auto 2.5em ;
    border-radius: 50%;
    overflow: hidden;
    border: 12px solid #e9e8f7;
    }
    .photo img {
        height: 100%;
    }
    .name {
        font-size: 1em;
        margin-bottom:0,5em ;
        color: #4a2e7e;
    }
    .info {
        font-size: 0,75em;
        margin-bottom: 5em;
        color: #b1bec3;
    }
    .separator {
        padding: 0,2px;
    }
    .message-action {
       font-size: 0.875em;
       width: 60%;
       background: #30007f;
       color:#fefefe  
                
    }
    .user-actions {
        
        text-align: center;
        max-width: 200px;
        padding: 0,5em 1em;
        margin: 0 auto;
        display: block;
        border-radius: 0.5em;
        display: block;
    }




